fastapi
uvicorn
tinydb
jinja2
websockets





vehicle-monitoring-system/
│
├── app.py
├── requirements.txt
├── db.json
│
├── templates/
│   └── dashboard.html
│
├── static/
│   ├── css/
│   │   └── style.css
│   │
│   ├── js/
│   │   └── dashboard.js
│   │
│   └── images/
│       └── vehicle.png
│
└── README.md



SUDO SU
apt update
python3 --version
apt install python3-pip python3-venv

mkdir fastapi-lab
cd fastapi-lab
python3 -m venv venv
source venv/bin/activate
